* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #B28DFF;
}

.container {
  background-color: #312e33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  align-items: center;
  text-align: center;
}

.intro,
.download {
  margin-bottom: 20px;
}

h1,
h2 {
  color: #007bff;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #48bcc5;
}